* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #0a0a0a;
  --foreground-color: #f8fafc;
  --primary-color: black;
  --card-color: #404040;
  --link-color: #f87171;
  --paragragh-color: #fef2f2;
}

body {
  font-family: sans-serif;
  color: var(--foreground-color);
  background-color: var(--background-color);
}

main {
  width: 100%;
  max-width: 400px;
  background-color: var(--card-color);
  padding: 40px;
  border-radius: 15px;

  /* OLD-SCHOOL-WAY-OF-CENTERING IN HTML/CSS */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-image {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* IN CASE YOUR IMAGE IS NOT A SQUARE */
  object-fit: cover;
  margin-bottom: 20px;
}

.profile-info {
  position: relative;
}

.profile-info h1 {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5px;
}

.profile-info h2 {
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 24px;
}

.profile-info p {
  text-align: center;
  color: var(--paragragh-color);
  font-style: 14px;
  margin-bottom: 24px;
}

.profile-links {
  list-style: none;
}

.profile-links li:not(:last-child) {
  margin-bottom: 16px;
}

.profile-links li a {
  border-radius: 15px;
  text-align: center;
  text-decoration: none;

  font-size: 14px;
  display: inline-block;
  width: 100%;
  color: var(--foreground-color);
  background-color: var(--link-color);
  padding: 16px;
  background-repeat: 8px;

  transition: 100ms all ease-in-out;
}

.profile-links li a:hover {
  color: var(--background-color);
  background-color: var(--foreground-color);
}

.image-background {
  position: absolute;
  z-index: -1;
}
